# Android Studio
.idea/
*.iml

# Archivos temporales
*.log
*.tmp
.DS_Store
Thumbs.db

# Archivos locales de configuración
local.properties
*.jks
*.keystore
key.properties

# Archivos generados
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/
.gradle/
.cxx/
captures/
.externalNativeBuild/